/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h1,h3, .navbar-brand {
	text-shadow: black 2px 2px 2px;
	color: #FFCABC;
	font-family: 'Rock Salt', cursive;
}
ul:last-child{
	padding-right: 10px;
}

img{
	margin-top: 10px;
}

body{
	background: #FFCABC;
}

.banner {
    position: relative;
    box-shadow: grey 5px 5px 20px;
}

.bottomright {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.thumbnail{
	box-shadow: grey 5px 5px 20px;
	background: #32B29E;
	padding: 5px;
	margin-right: 5%;
}

.navbar{
	background: #32B29E;
}

#header, #links{
	color: #FFA07A;
}
#header:hover, #links:hover{
	color: #FFCABC;
}

.citi{
	text-shadow: grey 2px 2px 2px;
	font-family: 'Nobile', sans-serif;
	color: #FFCABC;
}

.square{
	box-shadow: grey 2px 2px 2px;
	height: 350px;
	width: 350px;
}
