/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h1,h3, .navbar-brand {
	text-shadow: black 2px 2px 2px;
	color: #FFE8DD;
	font-family: 'Rock Salt', cursive;
}

ul:last-child{
	padding-right: 10px;
}

img{
	margin-top: 10px;
}

body{
	background: #FFE8DD;
}

.show-city{
	max-height: 400px;
	width: 100%;
}

.banner, .show-city {
  position: relative;
  box-shadow: #313233 5px 5px 20px;
}

#cidade{
	position: absolute;
	top: 400px;
	right: 28px;
	color: #FFE8DD;
	font-family: 'Rock Salt', cursive;
	text-shadow: #313233 2px 2px 2px;
}

.bottomright {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.thumbnail{
	box-shadow: #313233 5px 5px 20px;
	border: #279E98 1px;
	background: #279E98;
	padding: 5px;
	margin-right: 5%;
}

.navbar{
	background: #279E98;
}

#header, #links{
	color: #FFA07A;
}

#header:hover, #links:hover{
	color: #FFE8DD;
}

.citi ,#city-name, .comment{
	text-shadow: #313233 2px 2px 2px;
	font-family: 'Nobile', sans-serif;
	color: #FFE8DD;
	text-decoration: none;
}

.comment{
	font-family: 'Nobile', cursive;
	text-shadow: #313233 2px 2px 2px;	
	color: #FFA17A;
}

#city-name:hover, h3 .comment:hover{
	color: #FFE8DD;
	text-decoration: none;
	text-shadow: #313233 2px 2px 2px;
}

.profile{
	box-shadow: #313233 2px 2px 2px;
	height: 200px;
	width: 200px;
}


.square{
	box-shadow: #313233 2px 2px 2px;
	height: 350px;
	width: 350px;
}

.caption{
	text-shadow: black 2px 2px 2px;
}


/*Comment page*/

.teal{
	text-shadow: none;
	font-family: 'Nobile', sans-serif;
	color:black;
}

.border{
	border: white solid 2px;
}

/*profile*/

.profile-comment{
	font-family: 'Nobile', sans-serif;
}