<div class="banner">
  <img class="img-responsive" src="https://d2ic969nxgkjnx.cloudfront.net/images/vroomvroomvroom-com-au/cms/canada-rv-rental-fall-season.jpg">
  <h1 class=bottomright>Vagabond</h1>
</div>