<div class="banner">
  <img class="img-responsive" src="http://alexfinds.com/wp-content/uploads/2016/08/Thinktomake-Travel-Food-Photography.jpg">
  <h1 class=bottomright>Vagabond</h1>
</div>

<br>
<br>